<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramiro.liststore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgregarLista"
            android:label="@string/title_activity_agregar_lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".formatofila"
            android:label="@string/title_activity_formatofila"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ModificarLista"
            android:label="@string/title_activity_modificar_lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fotomulta"
            android:label="@string/title_activity_fotomultas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".usuarios" />
        <activity android:name=".AgregarListaFoto" />
        <activity android:name=".formato_fotomulta" />
    </application>

</manifest>
